apiVersion: v1
kind: Secret
metadata:
  name: api-secret
  labels:
    app: api
    component: api
data:
  APP_KEY: ""

  DB_PASSWORD: ""

  MAIL_PASSWORD: ""

  GITHUB_CLIENT_ID: ""
  GITHUB_CLIENT_SECRET: ""

  FACEBOOK_CLIENT_ID: ""
  FACEBOOK_CLIENT_SECRET: ""

  GOOGLE_CLIENT_ID: ""
  GOOGLE_CLIENT_SECRET: ""
