{
  "compact": true,
  "retainLines": false,
  "minified": true,
  "inputSourceMap": false,
  "sourceMaps": false,
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./dist"],
        "alias": {
          "@logger": "./dist/logger",
          "@router": "./dist/router",
          "@helper": "./dist/helper",
          "@validator": "./dist/validator",
          "@config": "./dist/config",
          "@exception": "./dist/exception",
          "@controller": "./dist/controller",
          "@service": "./dist/service",
          "@model": "./dist/model",
          "@database": "./dist/database"
        }
      }
    ]
  ]
}
