{
  "compact": true,
  "retainLines": false,
  "minified": true,
  "inputSourceMap": false,
  "sourceMaps": false,
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./dist"],
        "alias": {
          "@app": "./dist/app",
          "@configs": "./dist/configs",
          "@modules": "./dist/modules",
          "@routers": "./dist/routers"
        }
      }
    ]
  ]
}
